<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="debug" strict="true" name="XMLConfigTest">
    <Properties>
        <Property name="filename">
            C:/code/self/performance-testing/performance-testing-logs/performance-testing-logs-log4j2/temp/logs/log4j2.log
        </Property>
    </Properties>
    <Appenders>
        <RandomAccessFile name="INFO" fileName="${filename}" immediateFlush="false" append="true">
            <PatternLayout>
                <Pattern>%d %p %C [%t] %m%n</Pattern>
            </PatternLayout>
        </RandomAccessFile>
    </Appenders>

    <Loggers>
        <!--同步日志-->
        <!--<Root level="debug" additivity="false">-->
        <!--<AppenderRef ref="INFO"/>-->
        <!--</Root>-->
        <!--异步日志-->
        <AsyncLogger level="debug" additivity="false" inclueLocation="true" bufferSize="512">
            <AppenderRef ref="INFO"/>
        </AsyncLogger>
    </Loggers>
</Configuration>
